button {
	background: #4f8cff;
	color: #fff;
	border: none;
	border-radius: 6px;
	padding: 5px 14px;
	font-size: 20px;
	font-weight: bold;
	box-shadow: 0 2px 8px rgba(79, 140, 255, 0.15);
	transition: background 0.3s, transform 0.2s;
	transform: scale(0.9);
	position: relative;
	top: 4px;
}

button:hover {
	transform: scale(1);
}
input {
	width: 80%;
	padding: 8px;
	margin-bottom: 8px;
}
