body {
	background-color: rgb(239, 239, 239);
}
.crow {
	vertical-align: middle;
	scroll-margin-top: 3.5rem;
	--left-side-offset: 64px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	border-bottom: 1.4px solid rgb(52, 152, 219);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
	box-sizing: border-box;
	color: rgb(64, 64, 64);
	display: flex;
	font-size: 16px;
	font-variant-numeric: tabular-nums;
	margin-bottom: 15px;
	padding: 0;
	scroll-margin-top: 56px;
	text-size-adjust: 100%;
}
.cname {
	margin-left: 20px;
	margin-top: 5px;
	font-size: x-large;
	font-weight: bold;
	color: #595959;
}
.ctime {
	font-size: small + 3px;
	color: #bcbcbc;
	text-align: center;
}
.ccontent {
	margin-left: 30px;
	/* text-align: center; */
	vertical-align: middle;
}
.call {
	background-color: rgb(251, 251, 251);
}
.chat {
	display: block;
	justify-content: center;
	align-items: center;
	margin-right: 20%;
	margin-left: 20%;
}
h1 {
	text-align: center;
}
#editor {
	width: 50%;
	height: 100%;
	font-size: 16px;
	font-family: "Microsoft YaHei", sans-serif;
	resize: none;
}
#preview {
	/* width: 40%; */
	height: 86%;
	font-size: 16px;
	font-family: "Microsoft YaHei", sans-serif;
	padding: 1rem;
	border: 2px solid #ccc;
	background-color: #fff;
}
textarea {
	width: 40%;
	height: 90vh;
}
#preview {
	width: 55%;
	padding: 1rem;
	border: 1px solid #ccc;
	overflow: auto;
}
